@inject Microsoft.Extensions.Options.IOptions<ApplicationOptions> AppOptions

@{
    string ImgRoot = AppOptions.Value.Scheme + "://" + AppOptions.Value.DomainName + ":" + AppOptions.Value.Port + "/Images/Birds";
    string DefaultImg = @ImgRoot+"/0/default.jpg";
}

@model BirdViewModel
@*TODO: Hack, remove*@
<div class="blurbs-parent"></div>

<div class="blurb-list">

    @foreach (var bird in Model.Birds)
    {
        if (bird.Name.StartsWith(@ViewData["letter"].ToString()[0]))
        {
            string img = @Model.KeyImages.ContainsKey(@bird.Id) ? string.Format("{0}/{1}/{2}.jpg", @ImgRoot,@bird.Id,@Model.KeyImages[@bird.Id]) : DefaultImg;
            <a asp-action="Show">
                <div class="blurb">
                    <img src= @img class="blurb-image">
                    <div class="blurb-label">
                        <h5 class="blurb-name">@bird.Name</h5>
                        <h6 class="blurb-sciname">(@bird.SciName)</h6>
                        <span>@AppOptions.Value.ApplicationName</span>
                    </div>
                </div>
            </a>
        }
    }
</div>


