@{
    string[] Aves = { "~/Images/Birds/120/dsc09835w.jpg", "~/Images/Birds/143/rcc05368w.jpg", "~/Images/Birds/24/dsc5740w.jpg", "~/Images/Birds/388/rcc09277_1w.jpg" };
}

@model BirdViewModel

<div class="blurbs-parent"></div>

@*<div class="card-columns">
        @foreach (var bird in Model.Birds)
        {
            if (bird.Name.StartsWith(@ViewData["letter"].ToString()[0]))
            {
                <div class="card">
                    <img src="~/Images/Birds/120/dsc09835w.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@bird.Name</h5>
                        <h5 class="card-title">(@bird.SciName)</h5>
                    </div>
                </div>
            }
         }
    </div>*@

<div class="blurb-list">

    @foreach (var bird in Model.Birds)
    {
        if (bird.Name.StartsWith(@ViewData["letter"].ToString()[0]))
        {
            <a asp-action="Show">
                <div class="blurb">
                    <img src="~/Images/Birds/24/dsc5740w.jpg" class="blurb-image">
                    <div class="blurb-label">
                        <h5 class="blurb-name">@bird.Name</h5>
                        <h6 class="blurb-sciname">(@bird.SciName)</h6>
                    </div>
                </div>
            </a>
        }
    }
</div>


