
@model AdminViewModel

    <h2 class="descriptor-header">@ViewData["Title"]</h2>

    <div class="container-fluid d-flex" style="flex-wrap: wrap">

        <div class="nav flex-column nav-pills border-divider col-lg-6 col-md-12" id="admin-actions" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="add-image-tab" data-toggle="pill" href="#add-image-form" role="tab" aria-controls="add-image-form" aria-selected="true">Add [Image]</a>
            <a class="nav-link" id="add-bird-tab" data-toggle="pill" href="#add-bird-form" role="tab" aria-controls="add-bird-form" aria-selected="false">Add [Bird]</a>
            <a class="nav-link" id="update-image-tab" data-toggle="pill" href="#update-image-form" role="tab" aria-controls="update-image-form" aria-selected="false">Update [Image]</a>
            <a class="nav-link" id="remove-image-tab" data-toggle="pill" href="#remove-image-form" role="tab" aria-controls="remove-image-form" aria-selected="false">Remove [Image]</a>
            <a class="nav-link" id="mail-bird-list-tab" data-toggle="pill" href="#mail-bird-list-form" role="tab" aria-controls="mail-bird-list-form" aria-selected="false">Mail Bird List</a>

        </div>
        <div class="tab-content border-divider col-lg-6 col-md-12" id="admin-actions-forms">
            @*Add Image*@
            <div class="tab-pane fade show active" id="add-image-form" role="tabpanel" aria-labelledby="add-image-tab">
                @using (Html.BeginForm(FormMethod.Post, new { id = "addImageForm" }))
                {
                    <div class="form-group p-0">
                        <select id="birdId" class="form-control" name="BirdId" data-val="true" data-val-required="*">
                            <option value="">Bird ID...</option>
                            @foreach (var bird in Model.Birds)
                            {
                                <option value=@bird.Id>@bird.Name (@bird.Id)</option>
                            }
                        </select>
                    </div>
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="fileName" name="FileName" placeholder="File Name (no extension)" data-val="true" data-val-required="*">
                    </div>
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="location" name="Location" placeholder="Location" data-val="true" data-val-required="*">
                    </div>
                    <div class="form-group p-0">
                        <input type="date" class="form-control" id="date" name="Date" placeholder="Date" data-val="true" data-val-required="*">
                    </div>
                    <div class="form-group p-0">
                        <select id="country" class="form-control" name="Country" data-val="true" data-val-required="*">
                            <option value="">Country...</option>
                            @foreach (var country in Model.AllCountries)
                            {
                                <option value=@country.Key>@country.Value (@country.Key) </option>
                            }
                        </select>
                    </div>
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="coordinates" name="Coordinate" placeholder="Coordinates: Longitud,Latitud..." data-val="true" data-val-required="*">
                    </div>
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="comment" name="Comment" placeholder="Comment (can be empty)" data-val="true">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="keyImage" name="IsActive" value="true">
                        <label class="text-white" for="keyImage">Key Image</label>
                    </div>
                    <button class="btn btn-primary float-right" id="add-image" style="margin: 30px 10px">Add image</button>
                }
            </div>

            @*Add Bird*@
            <div class="tab-pane fade" id="add-bird-form" role="tabpanel" aria-labelledby="add-bird-tab">
                @using (Html.BeginForm(FormMethod.Post, new { id = "addBirdForm" }))
                {
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="name" name="Name" placeholder="Bird name" data-val="true" data-val-required="*">
                    </div>
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="sciName" name="SciName" placeholder="Scientific Name" data-val="true" data-val-required="*">
                    </div>
                    <div class="form-group p-0">
                        <select id="familyId" class="form-control" name="FamilyId" data-val="true" data-val-required="*">
                            <option value="">FamilyId...</option>

                            @foreach (var family in Model.Families)
                            {
                                <option value=@family.Id>@family.SciName</option>
                            }

                        </select>
                    </div>
                    <button class="btn btn-primary float-right" id="add-bird" style="margin: 30px 10px">Add Bird</button>
                }
            </div>

            @*Update Image*@
            <div class="tab-pane fade" id="update-image-form" role="tabpanel" aria-labelledby="update-image-tab">
                @using (Html.BeginForm(FormMethod.Post, new { id = "updateImageForm" }))
                {
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="image-id" name="ImageId" placeholder="Image Id" data-val="true" data-val-required="*">
                    </div>
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="image-fileName" name="ImageFileName" placeholder="File Name (no extension)" data-val="true">
                    </div>
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="image-location" name="ImageLocation" placeholder="Location" data-val="true">
                    </div>
                    <div class="form-group p-0">
                        <input type="date" class="form-control" id="image-date" name="ImageDate" placeholder="Date" data-val="true">
                    </div>
                    <div class="form-group p-0">
                        <select id="image-country" class="form-control" name="ImageCountry" data-val="true">
                            <option value="">Country...</option>
                            @foreach (var country in Model.AllCountries)
                            {
                                <option value=@country.Key>@country.Value (@country.Key) </option>
                            }
                        </select>
                    </div>
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="image-comments" name="ImageComment" placeholder="Comment" data-val="true">
                    </div>
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="image-coordinates" name="Coordinate" placeholder="Coordinates: Longitud,Latitud..." data-val="true">
                    </div>
                    <button class="btn btn-primary float-right" id="update-image" style="margin: 30px 10px">Update image</button>
                }
            </div>

            @*Remove Image*@
            <div class="tab-pane fade" id="remove-image-form" role="tabpanel" aria-labelledby="remove-image-tab" style="color:#fff">
                @using (Html.BeginForm(FormMethod.Post, new { id = "removeImageForm" }))
                {
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="remove-image-id" name="ImageId" placeholder="[Image] Id" data-val="true" data-val-required="*">
                    </div>
                    <button class="btn btn-primary float-right" id="remove-image" style="margin: 30px 10px">Remove image</button>
                }
            </div>

            @*Send current bird list by email *@ 
            <div class="tab-pane fade" id="mail-bird-list-form" role="tabpanel" aria-labelledby="mail-bird-list-tab" style="color:#fff">
                @using (Html.BeginForm(FormMethod.Post, new { id = "mailBirdListForm" }))
                {
                    <div class="form-group p-0">
                        <input type="text" class="form-control" id="receiver-account" name="Receiver" placeholder="Receiver's mail address" data-val="true" data-val-required="*">
                    </div>
                    <div class="form-group p-0">
                        <input type="password" class="form-control" id="acc-password" name="SenderPassw" placeholder="Site's mail password" data-val="true" data-val-required="*">
                    </div>
                    <button class="btn btn-primary float-right" id="mail-bird-list" style="margin: 30px 10px">Mail Bird List</button>
                }
            </div>
        </div>

        <div class="border-divider col-lg-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#bird-table-content">Birds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#family-table-content">Families</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#image-table-content">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#stats-table-content">Stats</a>
                </li>
            </ul>

            <!-- Tab panes -->
            @*Birds list*@
            <div class="tab-content">
                <div id="bird-table-content" class="container tab-pane active">
                    <div class="table-ext">
                        <div id="bird-table"></div>
                        <div style="width:30px">
                            <button class="btn btn-outline-primary button-mod2 float-right mt-3 ml-3" style="visibility:hidden" id="reload-birds">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <button class="btn btn-outline-primary button-mod2 float-right mt-3 ml-3" style="visibility:hidden" id="sort-birds">
                                <i class="fa fa-sort"></i>
                            </button>
                        </div>
                    </div>
                </div>
                @*Bird Families data*@
                <div id="family-table-content" class="container fade tab-pane">
                    <div class="table-ext">
                        <div id="family-table">
                            <div id="family-list" class="d-flex flex-wrap" style="color:#ffe"></div>
                        </div>
                        <button class="btn btn-outline-primary button-mod2 float-right m-3" style="visibility:hidden" id="reload-families">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                </div>
                @*Images data*@
                <div id="image-table-content" class="container tab-pane fade">
                    <div class="table-ext">
                        <div id="image-table"></div>
                        <div style="width:30px">
                            <button class="btn btn-outline-primary button-mod2 float-right mt-3 ml-3" style="visibility:hidden" id="reload-image-data">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <button class="btn btn-outline-primary button-mod2 float-right mt-3 ml-3" style="visibility:hidden" id="sort-images">
                                <i class="fa fa-sort"></i>
                            </button>
                        </div>
                        
                    </div>
                </div>
                @*Stats data*@
                <div id="stats-table-content" class="container tab-pane fade">
                    <div class="table-ext">
                        <div id="stats" style="justify-content:space-between">
                            <div id="stats-list"></div>
                            <div id="stats-image-list" class="d-flex flex-wrap" style="color:#ffe"></div>
                        </div>
                        <div style="width:30px">
                            <button class="btn btn-outline-primary button-mod2 float-right mt-3 ml-3" style="visibility:hidden" id="reload-stats">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <button class="btn btn-outline-primary button-mod2 float-right mt-3 ml-3" style="visibility:hidden" id="sort-stats">
                                <i class="fa fa-sort"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="~/js/Admin/Admin.js" asp-append-version="true"></script>
