

@{
    ViewData["Title"] = "Family";
}

@model BirdViewModel

<h1 class="description-text">Family</h1>

<div class="selector-list">
    @foreach (var family in Model.Families)
    {
        <div class="selector-item">@family.SciName (@family.Name)</div>
    }

</div>

<div class="selector-list">
    @foreach (var family in Model.Families)
    {
        <div class="selector-item">@family.SciName (@family.Name)</div>
    }

</div>

@*<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var family in Model.Families)
            {
                <tr>
                    <td>@family.SciName</td>
                    <td>(@family.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

