

@{
    ViewData["Title"] = "Family";
}

@model BirdViewModel

<h1 class="description-text">Family</h1>


<div class="container">
    <div class="row">
        @{
            int count = Model.Families.Count / 2;
            int firstHalf = count + count % 2;
            int secondHalf = Model.Families.Count - firstHalf;
            int index;
        }
        <div class="col">
            <table class="table table-striped">
                @for (index = 0; index < firstHalf; index++)
                {
                    if (@Model.Families[index].Available)
                    {
                    <tr>
                        <td class="selector-item"><a href="@Url.Action("ShowFamily", "Home", new { familyId = @Model.Families[index].Id })">@Model.Families[index].SciName (@Model.Families[index].Name)</a></td>
                    </tr>
                    }
                    else
                    {
                    <tr>
                        <td class="selector-item-disabled">@Model.Families[index].SciName (@Model.Families[index].Name)</td>
                    </tr>
                    }

                    }
</table>
        </div>
        <div class="col">
            <table class="table table-striped">
                @for (; index < Model.Families.Count; index++)
                {
                    if (@Model.Families[index].Available)
                    {
                        <tr>
                            <td class="selector-item"><a href="@Url.Action("ShowFamily", "Home", new { familyId = @Model.Families[index].Id })">@Model.Families[index].SciName (@Model.Families[index].Name)</a></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="selector-item-disabled">@Model.Families[index].SciName (@Model.Families[index].Name)</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

