

@{
    ViewData["Title"] = "Family";
}

@model BirdViewModel

<h1 class="description-text">Family</h1>


<div class="container">
    <div class="row">
        @{
            int count = Model.Families.Count / 2;
            int firstHalf = count + count % 2;
            int secondHalf = Model.Families.Count - firstHalf;
            int index;
        }
        <div class="col">
            @for (index = 0; index < firstHalf; index++)
            {
                if (@Model.Families[index].Available)
                {
                    <a class="category-item" href="@Url.Action("ShowFamily", "Home", new { familyId = @Model.Families[index].Id })">
                        <div class="selector-item">
                            @Model.Families[index].SciName (@Model.Families[index].Name)
                        </div>
                    </a>
                    }
                else
                {
                    <div class="selector-item-disabled">
                        @Model.Families[index].SciName (@Model.Families[index].Name)
                    </div>
                }
             }
        </div>
        <div class="col">
             @for (; index < Model.Families.Count; index++)
             {
                if (@Model.Families[index].Available)
                {
                    <a class="category-item" href="@Url.Action("ShowFamily", "Home", new { familyId = @Model.Families[index].Id })">
                        <div class="selector-item">
                            @Model.Families[index].SciName (@Model.Families[index].Name)
                        </div>
                    </a>
                }
                else
                {
                    <div class="selector-item-disabled">
                        @Model.Families[index].SciName (@Model.Families[index].Name)
                    </div>
                    }
              }
        </div>
    </div>
</div>

