
@{
    ViewData["Title"] = "Location";
}

@model LocationViewModel

<h1>Location</h1>

<div class="container">
    <div class="row">
    @{
        int count = Model.AvailableCountries.Count;
        int firstColumn = count % 2 == 1 ? count / 2 + 1 : count / 2;
        int secondColumn = firstColumn;
        
        <div class="col">
            @foreach (var country in Model.AvailableCountries)
            {
                if (--firstColumn < 0)
                    break;
                <a class="category-item" href="@Url.Action("SelectLocation", "Home", new { countryId = @country.Key })">
                    <div class="selector-item">
                        @country.Value
                    </div>
                </a>
            }
        </div>
        <div class="col">
            @foreach (var country in Model.AvailableCountries)
            {
                if (--secondColumn >= 0)
                    continue;
                <a class="category-item" href="@Url.Action("SelectLocation", "Home", new { countryId = @country.Key })">
                    <div class="selector-item">
                        @country.Value
                    </div>
                </a>
            }
        </div>
    }        
    </div>
</div>